__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/
.env

data/raw/*.mp4
data/raw/*.mov
data/raw/*.avi

*.pt
*.onnx
*.zip

outputs/*
!outputs/annotated_frames/
outputs/annotated_frames/*
!outputs/annotated_frames/.gitkeep
